<header>
  <nav>
    <div
      class="logo"
      style="cursor: pointer"
      onclick="window.location.href='/'"
    >
      <img src="/assets/images/logo.png" alt="EternaPic Studio Logo" />
      <strong>EternaPic Studio</strong>
    </div>
    <div class="nav-links">
      <a href="/">Giới thiệu</a>
      <a href="/trends.html">Xu hướng</a>
      <a href="/pricing.html">Bảng giá</a>
      <a href="mailto:support@eternapicsht.com">Liên hệ</a>
    </div>
    <div class="auth" id="auth-section">
      <button class="primary1" onclick="window.location.href='/login.html'">
        Đăng Nhập
      </button>
    </div>
  </nav>
</header>
