<section id="slider">
  <h2>CÁC KIỂU TẠO ẢNH</h2>
  <div class="viewer-header">
    <div class="image-name-list" id="imageNameList">
      <span data-img="/assets/images/taoanh1.jpg">Cá nhân</span>
      <span data-img="/assets/images/thanhpho.jpg">Khung cảnh</span>
      <span data-img="/assets/images/taoanh2.jpg">Trang phục và kiểu tóc</span>
      <span data-img="/assets/images/taoanh3.jpg">Hot trend</span>
    </div>
  </div>

  <div class="main-image-box">
    <img id="mainImage" src="/assets/images/taoanh1.jpg" alt="Ảnh 1" />
  </div>
</section>
